@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em) { @content ; }
	}
}
@font-face {
	font-family: 'Truenolt';
	src: url('../fonts/trueno/truenolt.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TruenoBd';
	src: url('../fonts/trueno/truenobd.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}
body{
	font-family: 'Truenolt';
	a{
		text-decoration:none;
	}
	img{
		max-width:100%;
	}
}
a{
	text-decoration:none;
}
h1{
	font-size: 1.9em;
	text-transform: uppercase;
	color: #623232;
}
img{max-width: 100%;}
.relative{position: relative;}
.header{
	font-size:13px;
	color:#fff;
	a{
		color:#fff;
	}
	.header_top{
		background:#472424;
		.header__nav{
			display:inline-block;
			ul{
				list-style: none;
				display:inline-block;
				padding:20px 0;

			}
			li{
				display: inline-block;
			}
			a{
				margin-right: 12px;
				&:hover{
					color: #dcc5b8;
				}
			}
		}
		.header__user_menu{
			display:none;
			position:absolute;
			right:0px;
			top: 0px;
			background:#472424;
			z-index: 9;
			vertical-align: bottom;
			@include breakpoint(phablet){
				display:inline-block;
			}
			.bascket{
				display: inline-block;
				margin-right: 10px;
				&__items{
					color: #dcc5b8;
				}
			}
		}

	}
	.header_bottom{
		position: relative;
		padding-top: 30px;
		background: #603131;
		color: #fff;
		.logo{
			display: inline-block;
			margin-bottom: 30px;
			@include breakpoint(phablet){
				margin-right: 220px;
			}
		}
		.nav{
			display:none;
			@include breakpoint(phablet){
				display: inline-block;
				position: absolute;
				right: 0;
				bottom: 0;
			}
			ul{
				list-style: none;
				display: block;
				text-align: center;}
			li{
				display:inline-block;
			}
			a{
				display: block;
				padding: 0 20px;
				margin-bottom: 10px;
				padding-bottom: 30px;
				border-bottom: 2px solid transparent;
				@include breakpoint(phablet){
					display: inline-block;
					font-size:12px;
					margin-bottom: 0;
					padding: 0 7px;
					padding-bottom: 30px;
				}
				@include breakpoint(tablet){
					padding: 0 20px;
					font-size: 13px;
					padding-bottom: 30px;
				}
			}
			a:hover{
				color:#ff7373;
				border-bottom: 2px solid #ff7373;
			}
		}
	}
}
.promo{
		padding:0 10px 30px 10px;
		margin-bottom: 50px;
		background:#f0efee;
		@include breakpoint(tablet){
			padding: 0;
		}
	&__pic{
		position: relative;
		top: -29px;
		left: -20px;
		margin-bottom: -29px;
	}
	&__text{
		margin-top: 60px;
		@include breakpoint(tablet){
			margin-top: 30px;
			transform: scale(0.8);
		}
		@include breakpoint(laptop){
			margin-top: 60px;
			transform: scale(1);
		}
		
		&__price{
			font-size: 30px;
			color:#623232;
		}
		&__name{
			font-size: 50px;
			font-family: 'TruenoBd';
			color:#623232;
		}
		&__variants{
			font-family: 'TruenoBd';
			color:#ff7373;
			font-size: 30px;
		}
		&__description{
			color: #8a8784;
			font-size: 13px;
			margin-bottom: 30px;
		}
	}

	}
.bars{
	position: absolute;
	right:30px;
	top:0px;
	width:25px;
	@include breakpoint(phablet){
		display: none;
	};
}
.bar{
	height:3px;
	background:#fff;
	margin:4px 0;
}
.active .bar:nth-child(2){
	opacity:0;
}
.active .bar:nth-child(1){
	transform: rotate(45deg) translateY(5px) translateX(2px);
	transition: all 1s ease;
}
.active .bar:nth-child(3){
	transform: rotate(-45deg) translateY(-8px) translateX(5px);
	transition: all 1s ease;
}
.bar:nth-child(2){
	opacity:1;
	transition: all 1s ease;
}
.bar{
	transition: all 1s ease;
}
.icon {
	background: url('../images/icons.png')center top no-repeat;
	display:inline-block;
	&_bascket{
		height: 25px;
		width: 21px;
		background-position: -550px -14px;
	}
	&_user{
		position:absolute;
		right: 30px;
		top: 15px;
		height: 25px;
		width: 21px;
		background-position: -587px -14px;
	}
}

.btn{
	display:inline-block;
	&_user{
		border-left: 1px solid #5a3a3a;
		padding:20px;
		&:hover{
			background:#ff7373;
		}
	}
	&_buy{
		background:#ff7373;
		color:#fff;
		padding:10px 35px;
	}
	&_collection{
		position: absolute;
		bottom: 10%;
		left:50%;
		margin-left: -104px;
		padding: 20px 30px;
		color: #fff;
		background: #4bd8cd;
		text-transform: uppercase;
	}
	&_arrivals{
		background: #623232;
		padding: 20px 30px;
		color: #fff;
	}

}


.colection-nike{
	text-align:center;
	position:relative;
	vertical-align:top;
	margin-bottom:30px;
	background: #000;
	background-repeat: no-repeat;
	overflow: hidden;
	&__text{
		position:relative;
		z-index:2;
		display:inline-block;
		// vertical-align:bottom;
		img{
			display:inline-block;
			transform:translateY(-50px);
		}
		span:nth-child(2){
			color: #fff;
			font-size: 30px;
			display: block;
		}
		span:nth-child(3){
			color: #4bd8cd;
			font-size: 30px;
			text-transform: uppercase;
		}
	}
	&__pic{
		img{
			z-index:0;
			// position: absolute;
			// top: 0;
			// left: 0;
		}
	}

}
.new-arivals{
	position: relative;
    padding: 40px 30px;
    padding-left:105px;
	background: #ff7373;
	margin-bottom: 30px;
	&__pic{
		img{
			max-height: 110%;
			position: absolute;
			bottom: 0px;
			left: -20px;
		}
	}
	&__text{
		position:relative;
		z-index:2;
		text-align:center;
		span{
			&:nth-child(1){
				font-size: 25px;
				color: #fff;
				display: block;
			}
			&:nth-child(2){
				font-size: 25px;
				display: block;
				color: #fff;
				text-transform: uppercase;
				margin-bottom: 35px;
			}
		}
	}
}
.catalog{
	color:#bdb9b5;
	text-align: center;
	&__category{
		display: inline-block;
		margin: 15px;
		@include breakpoint(phablet){
			margin-bottom:40px;
		}
		a{
			color:#bdb9b5;
			text-align: center;
			display: inline-block;
			text-transform: uppercase;
			font-size: 30px;
			&.active{
				color:#623232;
			}
		}
	}
}
.product{
	position:relative;
	color:#000;
	padding:25px;
	border: 1px solid #e0dfde;
	line-height: 26px;
	margin-bottom:30px;
	&__price{
		font-size:24px;
		color: #8a8784;
		margin-bottom:20px;
	}
	&__image{
		text-align:center;
		margin-bottom:50px;
		max-width:100%;
	}
	&__gender{
		a{
			font-family: 'TruenoBd';
			font-size: 16px;
			color: #8a8784;
			text-transform: uppercase;
		}
		
	}
	&__name{
		a{
			font-size: 16px;
			color: #8a8784;
		}
		
	}
	&__number{
		a{		
			font-size: 13px;
			color: #bdb9b5;	
		}

	}
	.discount{
		margin-bottom:-6px;
		&__price{
			&_new{
				color: #ff7373;
				font-size: 24px;
			}
			&_old{
				text-decoration: line-through;
				font-size: 16px;
				color: #8a8784;
			}
		}
		&__label{
			background: #ff7373;
			color:#fff;
			padding: 0 10px;
			position: absolute;
			right: 0;
			top: 30px;
		}
	}
}
.brands{
	padding: 70px 0;
	text-align:center;
	li{
		display:block;
		margin:43px;
		@include breakpoint(phablet){
			display:inline-block;
		}
	}
}
@include breakpoint(mobileonly){
	.chevron{
		position: relative;
		&::after {
			border-style: solid;
			border-color: #e56868;
			border-width: 0.25em 0.25em 0 0;
			content: '';
			display: inline-block;
			height: 0.45em;
			right: 26%;
			position: absolute;
			top: 0.6em;
			transform: rotate(-45deg);
			vertical-align: top;
			width: 0.45em;

		}
		&.bottom::after {
			top: 0;
			transform: rotate(135deg);
		}
		

	}
}
@media (min-width: 400px){
	.chevron::after{right: 30%;}
}
@media (min-width: 500px){
	.chevron::after{right: 34%;}
}
.pull-right{float: right;}
.brands{
	padding: 80px 0;
	text-align: center;
	li{
		display: inline-block;
		margin: 20px;
	}
}
.reviews{
	text-align: center;
	background-color:#623232;
	background-repeat: repeat-y;
	background-image: url(../images/testimonials.png);
	background-position: center;
	padding: 100px 0;
	color: white;
	.ls-prevSlide{
		content: '';
		display: inline-block;
		top:60%;
		left:20px;
		font-size: 3em;
		cursor: pointer;
		position: absolute;
		z-index: 99;
		margin-top: -30px;
		opacity: 0.5;
		-webkit-transition: opacity 0.35s linear 0s;
		transition: opacity 0.35s linear 0s;
		background-position: 0 0;
		&:hover{opacity: 1}
	}
	.ls-nextSlide{
		content: '';
		display: inline-block;
		top:60%;
		right:20px;
		font-size: 3em;
		cursor: pointer;
		position: absolute;
		z-index: 99;
		margin-top: -30px;
		opacity: 0.5;
		-webkit-transition: opacity 0.35s linear 0s;
		transition: opacity 0.35s linear 0s;
		background-position: -32px 0;
		&:hover{opacity: 1}
	}
	&__box{
		display: inline-block;
		opacity: .7;
		position: relative;
		cursor: pointer;
		&:hover{
			opacity: 1;
		}
	}
	&__foto{
		width: 60px;
		height: 60px;
		border-radius: 30px;
		background-image: url(../images/man.png);
		display: inline-block;
	}
	&__text{
		padding: 40px;
		background-color: #5a3a3a;
		margin-top: 50px;
		position: relative;
		display: none;
		&:before{
			content: '';
			display: inline-block;
			width: 28px;
			height: 28px;
			transform: rotate(45deg);
			position: absolute;
			left: 48%;
			background-color: #5a3a3a;
			top: -10px;
		}
		&.show{display: block}
		
	}
	&__rating{
		width: 128px;
		height: 21px;
		background: url(../images/rating.png);
		.client{
			display: inline-block;
			height:21px;
			background: url(../images/rating.png) 0 -22px;
			width: 128px;
			overflow: hidden;
			margin-right: 128px;
			&-1{
				width:100px;
			
			}
			&-2{
				width:128px;
			}
			&-3{
				width:80px;
				
			}
			&-4{width:100px;
			
			}
			&-5{width:128px;}
			&-6{
				width:80px;
				
			}

		}

		
	}
	
	

}



.news{
	padding: 105px 0 100px 0;
	text-align: center;
	color: white;
	h1{margin-bottom: 50px;}
	&__info{
		position: absolute;
		bottom: 25px;
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 30px;
		.news__comments{
			a{
				color: #ff7373;
				margin-right: -2px;
				display:inline-block;
			}
			
		}
		@include breakpoint(mobileonly){
			
		}
		img{margin-bottom: -6px;}
	}
}

.help{
	background-color: #ff7373;
	padding: 100px 0;
	color: white;
	

	@include breakpoint(mobileonly){
		text-align: center;
		.text{
			max-width: 295px;
		}
		h2{
			text-align: center;
			&:before{
				left: 40%;
				top: -50px;
			}
		}
		.btn{
			margin-top: 20px;
		}
	}
	@include breakpoint(phablet){
		padding: 100px 0 100px 0;
		.for-help{padding-left: 120px;}
		h2{
			text-align: left;
			&:before{
				left: -80px;
				top: 20px;
			}
		}
		.btn{
			margin-top: -50px;
			float: right;
		}
		.text{max-width: 250px;}
		
	}
	@include breakpoint(tablet){
		.text{max-width: none;}
	}
	
	
	h2{
		font-size: 30px;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 20px;
		&:before{
			content: '';
			height: 45px;
			width: 65px;
			display: inline-block;
			background-image: url(../images/envelope.png);
			position: absolute;
			
		}
	}
	
}
.footer{
	background-color: #623232;
	text-align: center;
	color: white;
	font-size: 16px;
	padding-top: 45px;
	

	ul{list-style: none;}
	.advantages{
		list-style: none;
		@include breakpoint(mobileonly){
			padding-left: 50px;
		}
		
		padding: 50px 0 45px 0;
		@include breakpoint(phablet){
			li{
				display: inline-block;
				max-width: 160px;
				text-align: center;
				margin-bottom: 60px;
			}
		}
		
		&__text{
			display: inline-block;
			position: relative;
			padding: 20px 0;
			@include breakpoint(mobileonly){
				width: 180px;
				text-align: left;
			}
			
			
			&.icons{
				&:before{
					content: '';
					display: inline-block;
					width: 50px;
					height: 50px;
					position: absolute;
					background-image: url(/images/icons.png);
					top: 10px;
					left: -55px;
					@include breakpoint(phablet){
						top: -50px;
						left: 55px;
					}
					
				}
				&.icon__{
					&shipping{
						&:before{background-position: 0px 0px;}

					}
					&guarantee{
						&:before{background-position: -55px 0px}

					}
					&support{
						&:before{background-position:-106px -6px;}

					}
					&prices{
						&:before{background-position:-160px -6px;}

					}
					&exclusive{
						&:before{background-position:-218px -6px;}

					}
					&delivery{
						&:before{background-position:-276px -6px;}

					}
				}
			}
			
			
		}
	}
	.maine-info{
		padding: 90px 0 0 60px;
		border-bottom: 2px solid #795151;
		border-top: 2px solid #795151;
		.contacts{
			@include breakpoint(phablet){
				display: inline-block;
				position: relative;
				top: -10px;
				margin-right: 40px;
			}
			li{
				margin-bottom: 30px;
				a{color: white;
					&:hover{
						color:#ff7373;
					}
				}

			}
			&__icons{


			}
			&__title{
				display: inline-block;
				position: relative;
				color: #e56868;
				text-transform: uppercase;
				max-width: 170px;
				text-align: left;
				padding-left: -10px;
				&.phone{
					min-width: 170px;
					&:before{
						background-position:-333px 0px;

					}
				}
				&.envelope{
					&:before{background-position:-404px 0px}
				}
				&.address{
					&:before{background-position:-476px 0px;}
				}
				&:before{
					content: "";
					position: absolute;
					display: inline-block;
					width: 55px;
					height: 55px;
					background-image: url(/images/icons.png);
					left:-65px;
					top: 0;
				}
			}
			&__text{
				color: white;
				text-transform: none;
				padding: 10px 0;
			}
		}
		
		.title{
			color: #e56868;
			text-transform: uppercase;
			margin: 40px 0;
			cursor: pointer;
			@include breakpoint(mobileonly){margin-left: -60px;}
			@include breakpoint(phablet){
				display: inline-block;
				margin:0 0 40px 0;
				text-align: left;
				li{
					min-width: 160px;
					

					
				}
			}
			
			ul{
				color: white;
				text-transform: none;
				@include breakpoint(mobileonly){
					display: none;
				}

				li{
					margin: 20px 0;
					a{
						color: white;
						&:hover{color:#ff7373;}
					}
					&.hide{
						visibility: hidden;
						@include breakpoint(mobileonly){display: none;}
					}

				}
			}
		}
		
	}
	
	.bottom-line{
		padding: 40px 0;
		.logo{
			float: left;
		}
		.rights{ margin: 20px;}
		.social-icons{
			a>*{
				display: inline-block;
				height: 30px;
				width: 30px;
				background-image:url(/images/social-icons.png);
			}
			a:hover{
				opacity: .5;
				
			}
			.icon__{
				&twitter{background-position: -15px 0;}
				&facebook{background-position: -51px 0;}
				&media{background-position: -85px 0;}
				&youtub{
					background-position: -132px 0;
					margin-left: 10px;
				}
			}
		}
		@include breakpoint(mobileonly){
			.logo{
				float: none;
			}
		}
		@include breakpoint(phablet){
			.rights{
				display: block;
			}
			.logo{
				display: block;
				text-align: left;
				float: none;
			}
			.social-icons{
				float: right;
				margin-top: -80px;
			}
		}
	}
}
.ma-minus{
	margin-left: -10px; 
}
.article{
	margin-bottom:20px;
	a{
		color: #fff;
		text-decoration:none;
	}
}

