title Sportshold
meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href='css/grid.css')
link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")
link(href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway" rel="stylesheet")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script( src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous")
script(src="js/code.js")
link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel='stylesheet', href='css/lightslider.css')
script(src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js")