html
	head
		include ./parts/head.pug
	body
		.header
			.header_top
				.wrapper
					.header__nav
						ul
							li
								a(href="#") Support
							li
								a(href="#") Delivery
							li
								a(href="#") Legal
							li
								a(href="#") About Us
					span.icon.icon_user
					.header__user_menu
						.bascket
							a(href="#")
								span.icon.icon_bascket
								span.bascket__price   4600$
								span.bascket__items   4 items
						a.btn.btn_user(href="#") Login
						a.btn.btn_user(href="#") Register
			.header_bottom
				.wrapper.clearfix
					.logo
						img(src="images/logo.png", alt="logo")
					.bars
						.bar
						.bar
						.bar
					.nav
						ul
							a(href="#")
								li Home
							a(href="#")
								li Man
							a(href="#")
								li Woman
							a(href="#")
								li Children
							a(href="#")
								li Baby
							a(href="#")
								li Our Brands
							a(href="#")
								li Sales
		.promo.clearfix
			.col-tablet-1-2
				.promo__pic
					img(src="images/cross.png")
			.col-tablet-1-2
				.promo__text
					.promo__text__price
						|From $80
					.promo__text__name
						|Nike Air Max
					.promo__text__variants
						|50 Variants
					.promo__text__description
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui deleniti facere consequatur sequi dolorem commodi inventore asperiores autem, distinctio consectetur? A rerum fugit id fuga, perferendis explicabo dolorem doloribus iste.
					.promo__text__submit
						a.btn.btn_buy(href="#")
							|Browse variants
		.wrapper
			.collecton.clearfix
				.col-phablet-1-2.col1
					.colection-nike
						.colection-nike__text
							span Discover the new
							span Nike Kyrie 3	
						.colection-nike__pic
							img(src="images/nike_kyrie.png")
							a(href="#").btn.btn_collection
								|view collection
				.col-phablet-1-2.clearfix.col2
					.new-arivals
						.new-arivals__pic
							img(src="images/new_arrivals.png")
						.new-arivals__text
							span
								|Check out the
							span
								|new arrivals
							a(href="#").btn.btn_arrivals
								|Discover
					.col-mobileonly-1-2.col-phablet-1-2.athletes
						a(href="#")
							img(src="images/athletes.png")
					.col-mobileonly-1-2.col-phablet-1-2.feel-premium
						a(href="#")
							img(src="images/premium.png")
		.wrapper
			.catalog
				.catalog__category
					a.active(href="#")
						|new
				.catalog__category
					a(href="#")
						|popular
				.catalog__category
					a(href="#")
						|top pics
			.catalog__items.clearfix
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4
					.product
						.discount
							.discount__price
								.discount__price_new
									|$45
								.discount__price_old
									|$60
							.discount__label
								|-25%
						.product__image
							a(href="#")
								img(src="images/cross_01.png")
						.product__gender
							a(href="#")
								|MEN
						.product__name
							a(href="#")
								|Converse Breakpoint Suede Blue
						.product__number
							a(href="#")
								|#16378271
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4
					.product
						.product__price
							|$55
						.product__image
							a(href="#")
								img(src="images/cross_02.png")
						.product__gender
							a(href="#")
								|MEN / women
						.product__name
							a(href="#")
								|Converse Breakpoint Suede Blue
						.product__number
							a(href="#")
								|#16378271
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4
					.product
						.product__price
							|$60
						.product__image
							a(href="#")
								img(src="images/cross_03.png")
						.product__gender
							a(href="#")
								|Momen
						.product__name
							a(href="#")
								|Converse Breakpoint Suede Blue
						.product__number
							a(href="#")
								|#16378271
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4
					.product
						.discount
							.discount__price
								.discount__price_new
									|$60
								.discount__price_old
									|$80
							.discount__label
								|-25%
						.product__image
							a(href="#")
								img(src="images/cross_04.png")
						.product__gender
							a(href="#")
								|MEN
						.product__name
							a(href="#")
								|Converse Breakpoint Suede Blue
						.product__number
							a(href="#")
								|#16378271
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4
					.product
						.product__price
							|$90
						.product__image
							a(href="#")
								img(src="images/cross_05.png")
						.product__gender
							a(href="#")
								|MEN
						.product__name
							a(href="#")
								|Converse Breakpoint Suede Blue
						.product__number
							a(href="#")
								|#16378271
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4
					.product
						.discount
							.discount__price
								.discount__price_new
									|$50
								.discount__price_old
									|$100
							.discount__label
								|-50%
						.product__image
							a(href="#")
								img(src="images/cross_06.png")
						.product__gender
							a(href="#")
								|MEN
						.product__name
							a(href="#")
								|Converse Breakpoint Suede Blue
						.product__number
							a(href="#")
								|#16378271
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4
					.product
						.product__price
							|$40
						.product__image
							a(href="#")
								img(src="images/cross_07.png")
						.product__gender
							a(href="#")
								|MEN
						.product__name
							a(href="#")
								|Converse Breakpoint Suede Blue
						.product__number
							a(href="#")
								|#16378271
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4
					.product
						.product__price
							|$80
						.product__image
							a(href="#")
								img(src="images/cross_08.png")
						.product__gender
							a(href="#")
								|MEN
						.product__name
							a(href="#")
								|Converse Breakpoint Suede Blue
						.product__number
							a(href="#")
								|#16378271
		.wrapper
			.brands
				ul
					li
						img(src="images/adidas.png")
					li
						img(src="images/nike.png")
					li
						img(src="images/puma.png")
					li
						img(src="images/asics.png")
					li
						img(src="images/nb.png")
					li
						img(src="images/fila.png")
		.reviews
			.wrapper
				.ls-prevSlide
					i.fa.fa-arrow-circle-o-left
				.ls-nextSlide
					i.fa.fa-arrow-circle-o-right
				ul#ReviewsSlider
					li
						.reviews__box
							.reviews__foto
							.reviews__autor Christopher Atkins
							.reviews__rating
								.client.client-1
							.reviews__text “1Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim t non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”
					li
						.reviews__box
							.reviews__foto
							.reviews__autor Andrew Ferraccioli
							.reviews__rating
								.client.client-2
							.reviews__text “2Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					li
						.reviews__box
							.reviews__foto
							.reviews__autor Sandra Jensen
							.reviews__rating
								.client.client-3
							.reviews__text “3Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”
					li
						.reviews__box
								.reviews__foto
								.reviews__autor Christopher Atkins
								.reviews__rating
									.client.client-4
								.reviews__text “4Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”
					li
						.reviews__box
							.reviews__foto
							.reviews__autor Andrew Ferraccioli
							.reviews__rating
								.client.client-5
							.reviews__text “5Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”
					li
						.reviews__box
							.reviews__foto
							.reviews__autor Sandra Jensen
							.reviews__rating
								.client.client-6
							.reviews__text “6Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do"
				.reviews__text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
				

		.wrapper
			.news
				h1 LATEST NEWS
				.row.clearfix
					.col-mobileonly-1-1.col-phablet-1-2.col-tablet-1-3.relative
						.article
							a(href="#")
								img(src='images/news_01.png')
							.news__info
								.news__date 
									a(href="#")
										|DEC 27, 2017
								.news__text
									a(href="#")
										|Lorem ipsum dolor sit amet consectetur adipiscing
								.news__comments
									a(href="#")
										img(src="images/icon_comments.png")
										| 24 Comments
					.col-mobileonly-1-1.col-phablet-1-2.col-tablet-1-3.relative
						.article
							a(href="#")
								img(src='/images/news_02.png')
							.news__info
								.news__date
									a(href="#")
										|DEC 27, 2017
								.news__text
									a(href="#")
										|Lorem ipsum dolor sit amet consectetur adipiscing
								
								.news__comments
									a(href="#")
										img(src="images/icon_comments.png")
										|24 Comments
					.col-mobileonly-1-1.col-phablet-1-2.col-tablet-1-3.relative
						.article
							a(href="#")
								img(src='images/news_03.png')
							.news__info
								.news__date
									a(href="#")
										|DEC 27, 2017
								.news__text
									a(href="#")
										|Lorem ipsum dolor sit amet consectetur adipiscing
								.news__comments
									a(href="#")
										img(src="images/icon_comments.png")
										|24 Comments
		.help
			.wrapper.for-help
				h2 Looking for help?
				.text Have any questions or need help with order? Let us know!
				.btn.btn_arrivals
					a MAKE AN INQUIRY
		.footer
			.wrapper
				ul.advantages
					li
						.advantages__text.icons.icon__shipping Free Shipping in Europe
					li
						.advantages__text.icons.icon__guarantee Money Back Guarantee
					li
						.advantages__text.icons.icon__support 24/7 Customer Support
					li
						.advantages__text.icons.icon__prices Lowest Prices Guaranteed
					li
						.advantages__text.icons.icon__exclusive Exclusive Items for Sportshold
					li
						.advantages__text.icons.icon__delivery 5-Day Delivery in Europe
				.maine-info
					ul.contacts
						li
							.contacts__title.phone Call Us
								.contacts__text
									a(href='tel:0-1234-567-890') 0 (1234) 567 890
						li
							.contacts__title.envelope Email Us
								.contacts__text
									a(href='mailto:hello@sportshold.com') hello@sportshold.com
						li
							.contacts__title.address Address

								.contacts__text 40 Baria Sreet 133/2, NY, US
					.title.chevron.bottom  Navigation
						ul
							li
								a(href='#') Home
							li
								a(href='#') About Us
							li
								a(href='#') Latest News
							li
								a(href='#') Reviews
							li
								a(href='#') Brands
							li.hide hide
					.title.chevron.bottom Categories
						ul
							li
								a(href='#') Men
							li
								a(href='#') Women
							li
								a(href='#') Children
							li
								a(href='#') Baby
							li
								a(href='#') Accessories
							li.hide hide
					.title.chevron.bottom Sales
						ul
							li
								a(href='#') New Arrivals
							li
								a(href='#') Most Popular
							li
								a(href='#') Top Picks
							li
								a(href='#') Outlet
							li.hide hide
							li.hide hide
					.title.chevron.bottom SUPPORT
						ul
							li
								a(href='#') Shipping & Delivery
							li
								a(href='#') Return Policy
							li
								a(href='#') Terms of Service
							li
								a(href='#') Privacy Policy
							li
								a(href='#') Contact Us
							li.hide hide
				.bottom-line
					.logo
						img(src="images/logo.png", alt="logo")
					.rights © 2017 Sportshold. All rights reserved.
					.social-icons
						a(href='#')
							.icon__twitter
						a(href='#')
							.icon__facebook
						a(href='#')
							.icon__media
						a(href='#')
							.icon__youtub
					
					
					
			