html
	head
		include ./parts/head.pug
	body
		.header
			.header_top
				.wrapper
					.header__nav
						ul
							li
								a(href="#") Support
							li
								a(href="#") Delivery
							li
								a(href="#") Legal
							li
								a(href="#") About Us
					span.icon.icon_user
					.header__user_menu
						.bascket
							a(href="#")
								span.icon.icon_bascket
								span.bascket__price   4600$
								span.bascket__items   4 items
						a.btn.btn_user(href="#") Login
						a.btn.btn_user(href="#") Register



						

			.header_bottom
				.wrapper.clearfix
					.logo
						img(src="images/logo.png", alt="logo")
					.bars
						.bar
						.bar
						.bar
					.nav
						ul
							a(href="#")
								li Home
							a(href="#")
								li Man
							a(href="#")
								li Woman
							a(href="#")
								li Children
							a(href="#")
								li Baby
							a(href="#")
								li Our Brands
							a(href="#")
								li Sales
			.promo
				img(src="")
		br
		.footer
			.wrapper
				ul.advantages
					li
						.advantages__text.icons.icon__shipping Free Shipping in Europe
					li
						.advantages__text.icons.icon__guarantee Money Back Guarantee
					li
						.advantages__text.icons.icon__support 24/7 Customer Support
					li
						.advantages__text.icons.icon__prices Lowest Prices Guaranteed
					li
						.advantages__text.icons.icon__exclusive Exclusive Items for Sportshold
					li
						.advantages__text.icons.icon__delivery 5-Day Delivery in Europe
				.maine-info
					ul.contacts
						li
							.contacts__title.phone Call Us
								.contacts__text 0 (1234) 567 890
						li
							.contacts__title.envelope Email Us
								.contacts__text hello@sportshold.com
						li
							.contacts__title.address Address

								.contacts__text 40 Baria Sreet 133/2, NY, US
					.title  Navigation
						span.chevron.bottom
						ul
							li
								a(href='#') Home
							li
								a(href='#') About Us
							li
								a(href='#') Latest News
							li
								a(href='#') Reviews
							li
								a(href='#') Brands
							li.hide hide
					.title Categories
						span.chevron.bottom
						ul
							li
								a(href='#') Men
							li
								a(href='#') Women
							li
								a(href='#') Children
							li
								a(href='#') Baby
							li
								a(href='#') Accessories
							li.hide hide
					.title Sales
						span.chevron.bottom
						ul
							li
								a(href='#') New Arrivals
							li
								a(href='#') Most Popular
							li
								a(href='#') Top Picks
							li
								a(href='#') Outlet
							li.hide hide
							li.hide hide
					.title SUPPORT
						span.chevron.bottom
						ul
							li
								a(href='#') Shipping & Delivery
							li
								a(href='#') Return Policy
							li
								a(href='#') Terms of Service
							li
								a(href='#') Privacy Policy
							li
								a(href='#') Contact Us
							li.hide hide
				.bottom-line
					.logo
						img(src="images/logo.png", alt="logo")
					.rights © 2017 Sportshold. All rights reserved.
					.social-icons
						a(href='#')
							.icon__twitter
						a(href='#')
							.icon__facebook
						a(href='#')
							.icon__media
						a(href='#')
							.icon__youtub
					
					
					
			