html
	head
		include ./parts/head.pug
		.header
			.header_top
				.wrapper
					.header__nav
						ul
							li 
								a(href="#") Support
							li 
								a(href="#") Delivery
							li 
								a(href="#") Legal
							li 
								a(href="#") About Us
					span.icon.icon_user
					.header__user_menu
						.bascket
							a(href="#")
								span.icon.icon_bascket
								span.bascket__price   4600$
								span.bascket__items   4 items
						a.btn.btn_user(href="#") Login
						a.btn.btn_user(href="#") Register



						

			.header_bottom
				.wrapper.clearfix
					.logo
						img(src="images/logo.png", alt="logo")
					.bars
						.bar
						.bar
						.bar
					.nav
						ul
							a(href="#")
								li Home
							a(href="#")
								li Man
							a(href="#")
								li Woman
							a(href="#")
								li Children
							a(href="#")
								li Baby
							a(href="#")
								li Our Brands
							a(href="#")
								li Sales
			.promo
				img(src="")